.add-item-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
}

.add-item-input {
  width: 60%;
  border: 1px solid #cccccc;
  padding-left: 1rem;
  border-radius: 4px;
  height: 2.4rem;
  font-size: 1rem;
  font-family: "Lato", "Montserrat", "Arial";
  color: #333333;
}

.add-item-button {
  width: 76%;
}

.remove-item-button {
  width: 24%;
}

.button-wrapper {
  width: 40%;
  display: flex;
  gap: 1rem;
}

@media (max-width: 408px) {
  .add-item-wrapper {
    flex-direction: column;
    gap: 0.6rem;
  }

  .add-item-input {
    width: 100%;
  }

  .button-wrapper {
    width: 100%;
  }
}
